.Board{
  margin-top: 30px;
}
.Board h1{
  text-align: center;  
}

.Board h2{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.question-card-link{
  text-decoration: none;
}

.question-card-link:hover{
  background-color: rgba(75, 75, 215, 0.632) !important;
}

.card:hover{
  background-color: rgba(75, 75, 215, 0.632) !important;
}

.card-body{
  padding: 5px !important;
}

.card-title{
  color: white !important;
  margin-bottom: 0px;
}


