.question-box{
  border: 1px solid rgb(36, 77, 222);
  padding: 20px;
  border-radius: 5px;
}

.question-image{
  width: 100%;
}

.figure-caption{
  font-size: 1.2em !important;
  color: black !important;
}


.actions{
  margin: 20px auto 10px auto;
  text-align: center;
}

.actions button{
  margin-left: 10px;
}