.questions-title{
  text-align: center;
}
.questions-title{
  font-size: 4rem;
}

.levels{
  margin-top: 50px;
}

.levels ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.levels ul li a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
